.git
.github
.venv
.terraform
**/.terraform
.pytest_cache
.ruff_cache
__pycache__
**/__pycache__
.coverage
*.pyc
*.tfstate*
*.tfplan
terraform.tfvars
deploy
docs
examples
infrastructure
tests
docker-compose.yaml
